.dest__button {
  padding: 16px 48px;
  width: fit-content;
  height: fit-content;
  background: var(--dark-white);
  border-radius: 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--black);
  border: none;
  @media (max-width: 1024px) {
    padding: 12px 36px;
    font-size: 20px;
  }
  @media (max-width: 768px) {
    padding: 8px 24px;
    font-size: 18px;
    margin-right: 16px;
  }
  @media (max-width: 768px) {
    padding: 4px 16px;
  }
  @media (max-width: 768px) {
    margin-bottom: 8px;
  }
}
.dest__button-active {
  background: var(--blue);
  color: var(--white);
}
.dest__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 104px;
  min-width: 0;
  gap: 16px;
  @media (max-width: 1024px) {
    margin-top: 60px;
    font-size: 20px;
  }
  @media (max-width: 768px) {
    margin-top: 40px;
  }
  @media (max-width: 480px) {
    margin-bottom: 0;
  }
}
.dest__list-wrap {
  flex-wrap: wrap;
}
.dest__item {
  height: 432px;
  min-width: min-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  @media (max-width: 1200px) {
    width: 230px;
    height: 300px;
  }
}
.dest__item:nth-child(4) {
  @media (max-width: 1024px) {
    display: none;
  }
}
.dest__item:nth-child(3) {
  @media (max-width: 768px) {
    display: none;
  }
}
.dest__item:hover .but__dest {
  visibility: visible;
  animation: but 0.5s ease-in 0.3s both;
}
@keyframes but {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dest__item:hover img {
  filter: brightness(80%);
  transition: 0.5s ease-in 0.3s;
  @media (max-width: 1024px) {
    filter: none;
  }
}
.item-link {
  position: relative;
}
.dest__img {
  aspect-ratio: 1/1;
  max-width: 100%;
}

.but__dest {
  position: absolute;
  width: 128px;
  height: 48px;
  top: calc(50% - 48px / 2);
  left: calc(50% - 128px / 2);
  background: var(--white);
  border: 1px solid var(--blue);
  border-radius: 8px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--blue);
  visibility: hidden;
  @media (max-width: 1024px) {
    display: none;
  }
}

.circleButDown,
.circleButUp {
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--dark-white);
  border: 1px;
  z-index: 1;
  top: calc(50% - var(--circle-height) / 2);
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  position: relative;
}
.circleButDown::after,
.circleButUp::after {
  content: '';
  width: var(--arrow-width);
  height: var(--arrow-height);
  border: 2px solid var(--black);
  border-left: 0;
  border-top: 0;
  position: absolute;
  top: calc(50% - var(--arrow-width) / 2);
  left: calc(50% - var(--arrow-height) / 2);
}
.circleButDown::after {
  transform: rotate(40deg) skewX(-10deg);
}
.circleButUp::after {
  transform: rotate(220deg) skewX(-15deg);
}
