.react-datepicker-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: 0;
  width: 21%;
  @media (max-width: 1024px) {
    display: grid;
    grid-row: 1;
    grid-column: 7 / span 4;
    width: 100%;
    background-color: var(--white);
  }
  @media (max-width: 768px) {
    grid-row: 2;
    grid-column: 1 / span 8;
  }
}
.react-datepicker__input-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.calendar-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
  line-height: 21px;
  text-align: center;
  @media (max-width: 1200px) {
    font-size: 15px;
  }
  @media (max-width: 1024px) {
    text-align: start;
  }
}

/*month's window*/
.react-datepicker__month-container {
  width: 290px;
  height: fit-content;
  background: var(--white);
  border-radius: 8px;
  padding: 12px 22px 18px;
  @media (max-width: 768px) {
    width: 270px;
  }
}
.react-datepicker__header {
  background-color: var(--white);
  border-bottom: 1px solid var(--white);
}
.react-datepicker__current-month {
  line-height: 21px;
  text-align: center;
  color: var(--black);
  margin-bottom: 12px;
  @media (max-width: 768px) {
    font-size: 15px;
  }
}
.react-datepicker__day-name {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #4d4d4d;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}
.react-datepicker__month {
  margin: 0;
}
.react-datepicker__week {
  height: fit-content;
}
.react-datepicker__day {
  width: 35px;
  height: fit-content;
  margin: 0;
  border-radius: 0;
  padding: 8px;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}
.react-datepicker__day--outside-month {
  visibility: hidden;
}
.react-datepicker__day:hover {
  border-radius: 0;
  color: var(--white);
  background-color: var(--blue);
}
.react-datepicker__day--today {
  color: var(--blue);
  background-color: var(--white);
}
.react-datepicker__day--in-selecting-range {
  background-color: var(--grey);
}
.react-datepicker__day--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ) {
  color: var(--white);
  background-color: var(--blue);
}
.react-datepicker__day--keyboard-selected {
  background-color: var(--white);
}
.react-datepicker__day--in-range {
  background-color: var(--dark-white);
  color: var(--black);
}
.react-datepicker__day--in-selecting-range:hover {
  background-color: var(--grey);
}
.react-datepicker__day--range-start,
.react-datepicker__day--range-end {
  background-color: var(--blue);
  color: var(--white);
}
.react-datepicker__day--range-start:hover,
.react-datepicker__day--range-end:hover {
  background-color: var(--blue);
  color: var(--white);
}
