.links {
  text-decoration: none;
  color: var(--white);
  position: relative;
  &::after {
    content: '';
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    height: 4px;
    background-color: var(--dark-yellow);
    margin-top: 8px;
  }
  &:hover::after {
    visibility: visible;
    animation: under-line 0.5s ease-out 0.3s both;
  }
  @media (max-width: 768px) {
    display: none;
  }
}
@keyframes under-line {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 80%;
  }
}
