/*for desktops*/
#root {
  display: flex;
  flex-direction: column;
}
:root {
  --col-width: calc(100% / 12);
}
.col-lg-1 {
  width: var(--col-width);
}
.col-lg-2 {
  width: calc(var(--col-width) * 2);
}
.col-lg-3 {
  width: calc(var(--col-width) * 3);
}
.col-lg-4 {
  width: calc(var(--col-width) * 4);
}
.col-lg-5 {
  width: calc(var(--col-width) * 5);
}
.col-lg-6 {
  width: calc(var(--col-width) * 6);
}
.col-lg-7 {
  width: calc(var(--col-width) * 7);
}
.col-lg-8 {
  width: calc(var(--col-width) * 8);
}
.col-lg-9 {
  width: calc(var(--col-width) * 9);
}
.col-lg-10 {
  width: calc(var(--col-width) * 10);
}
.col-lg-11 {
  width: calc(var(--col-width) * 11);
}
.col-lg-12 {
  width: calc(var(--col-width) * 12);
}

@media (max-width: 1200px) {
  .item__text {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 0;
  }
}

/*for tablets*/
@media (max-width: 1024px) {
  :root {
    --col-width: calc(100% / 8);
  }
  .col-md-1 {
    width: var(--col-width);
  }
  .col-md-2 {
    width: calc(var(--col-width) * 2);
  }
  .col-md-3 {
    width: calc(var(--col-width) * 3);
  }
  .col-md-4 {
    width: calc(var(--col-width) * 4);
  }
  .col-md-5 {
    width: calc(var(--col-width) * 5);
  }
  .col-md-6 {
    width: calc(var(--col-width) * 6);
  }
  .col-md-7 {
    width: calc(var(--col-width) * 7);
  }
  .col-md-8 {
    width: calc(var(--col-width) * 8);
  }
  p {
    margin: 0;
  }
}

/*for mobile*/
@media (max-width: 768px) {
  :root {
    --col-width: calc(100% / 6);
  }
  .col-sm-1 {
    width: var(--col-width);
  }
  .col-sm-2 {
    width: calc(var(--col-width) * 2);
  }
  .col-sm-3 {
    width: calc(var(--col-width) * 3);
  }
  .col-sm-4 {
    width: calc(var(--col-width) * 4);
  }
  .col-sm-5 {
    width: calc(var(--col-width) * 5);
  }
  .col-sm-6 {
    width: calc(var(--col-width) * 6);
  }
  p {
    font-size: 16px;
  }
  img {
    margin-bottom: 8px;
  }
  .item__text {
    font-size: 16px;
    line-height: 14px;
  }
  .hostel-location {
    margin-top: 8px;
  }
}
/*for small mobile*/
@media (max-width: 480px) {
  :root {
    --col-width: calc(100% / 6);
  }
  .col-xs-1 {
    width: var(--col-width);
  }
  .col-xs-2 {
    width: calc(var(--col-width) * 2);
  }
  .col-xs-3 {
    width: calc(var(--col-width) * 3);
  }
  .col-xs-4 {
    width: calc(var(--col-width) * 4);
  }
  .col-xs-5 {
    width: calc(var(--col-width) * 5);
  }
  .col-xs-6 {
    width: calc(var(--col-width) * 6);
  }
  img {
    margin-bottom: 0;
  }
  .item__text {
    margin-top: 8px;
  }
}
