/*for desktops*/
:root {
  --col-width: calc(100% / 12);
}
.col-lg-1 {
  width: var(--col-width);
}
.col-lg-2 {
  width: calc(var(--col-width) * 2);
}
.col-lg-3 {
  width: calc(var(--col-width) * 3);
}
.col-lg-4 {
  width: calc(var(--col-width) * 4);
}
.col-lg-5 {
  width: calc(var(--col-width) * 5);
}
.col-lg-6 {
  width: calc(var(--col-width) * 6);
}
.col-lg-7 {
  width: calc(var(--col-width) * 7);
}
.col-lg-8 {
  width: calc(var(--col-width) * 8);
}
.col-lg-9 {
  width: calc(var(--col-width) * 9);
}
.col-lg-10 {
  width: calc(var(--col-width) * 10);
}
.col-lg-11 {
  width: calc(var(--col-width) * 11);
}
.col-lg-12 {
  width: calc(var(--col-width) * 12);
}
@media (max-width: 1200px) {
  .item__text {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 0;
  }
}

/*for tablets*/
@media (max-width: 1024px) {
  :root {
    --col-width: calc(100% / 8);
  }
  .col-md-1 {
    width: var(--col-width);
  }
  .col-md-2 {
    width: calc(var(--col-width) * 2);
  }
  .col-md-3 {
    width: calc(var(--col-width) * 3);
  }
  .col-md-4 {
    width: calc(var(--col-width) * 4);
  }
  .col-md-5 {
    width: calc(var(--col-width) * 5);
  }
  .col-md-6 {
    width: calc(var(--col-width) * 6);
  }
  .col-md-7 {
    width: calc(var(--col-width) * 7);
  }
  .col-md-8 {
    width: calc(var(--col-width) * 8);
  }
  p {
    margin: 0;
  }
  .offers__line {
    display: none;
  }
  .circle {
    width: 36px;
    height: 36px;
  }
  .circle-slide-dop {
    display: inline-block;
    position: absolute;
  }
  .sign-up__block {
    padding: 0;
    margin: 0 50px;
  }
  .sign-up__text {
    font-size: 20px;
    line-height: 24px;
  }
  .sign-up__button {
    width: 120px;
    height: 40px;
    font-size: 18px;
  }
  .sign-up-cross {
    width: 20px;
    height: 20px;
  }
}

/*for mobile*/
@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .reviews {
    order: 1;
  }
  .sign-up {
    order: 2;
  }
  .footer {
    order: 3;
  }
  :root {
    --col-width: calc(100% / 6);
  }
  .col-sm-1 {
    width: var(--col-width);
  }
  .col-sm-2 {
    width: calc(var(--col-width) * 2);
  }
  .col-sm-3 {
    width: calc(var(--col-width) * 3);
  }
  .col-sm-4 {
    width: calc(var(--col-width) * 4);
  }
  .col-sm-5 {
    width: calc(var(--col-width) * 5);
  }
  .col-sm-6 {
    width: calc(var(--col-width) * 6);
  }
  p {
    font-size: 16px;
  }
  img {
    margin-bottom: 8px;
  }
  .item__text {
    font-size: 16px;
    line-height: 14px;
  }
  .hostel-location {
    margin-top: 8px;
    /*color: var(--black);
*/
  }

  .circle {
    width: 32px;
    height: 32px;
  }
  .circle-slide {
    position: absolute;
    display: inline-block;
  }

  .icon-sign-up,
  .sign-up__button {
    display: none;
  }
  .sign-up__block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 106px;
    padding: 0 10px;
    background: var(--white);
  }
  .sign-up__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    display: flex;
    position: static;
  }
  .sign-up-cross {
    width: 18px;
    height: 18px;
    display: inline-block;
    position: static;
  }
  .sign-up__link {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--blue);
  }
  .sign-up__block-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    background: var(--blue);
    border-radius: 4px;
  }
  .sign-up-logo {
    width: 52px;
    height: 12px;
  }
}

/*for small mobile*/
@media (max-width: 480px) {
  :root {
    --col-width: calc(100% / 6);
  }
  .col-xs-1 {
    width: var(--col-width);
  }
  .col-xs-2 {
    width: calc(var(--col-width) * 2);
  }
  .col-xs-3 {
    width: calc(var(--col-width) * 3);
  }
  .col-xs-4 {
    width: calc(var(--col-width) * 4);
  }
  .col-xs-5 {
    width: calc(var(--col-width) * 5);
  }
  .col-xs-6 {
    width: calc(var(--col-width) * 6);
  }
  img {
    margin-bottom: 0;
  }
  .item__text {
    margin-top: 8px;
  }
  .sign-up__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .sign-up-cross {
    width: 16px;
    height: 16px;
  }
  .sign-up__link {
    font-size: 14px;
    line-height: 16px;
  }
  .sign-up__block-logo {
    width: 58px;
    height: 58px;
  }
}
