* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.woff) format('woff'), local('Roboto'),
    url(../fonts/Roboto-Medium.woff2) format('woff2');
}
:root {
  --line-width: 100px;
  --arrow-width: 12px;
  --arrow-height: 12px;
  --circle-width: 40px;
  --circle-height: 40px;
  --white: #fff;
  --black: #383838;
  --blue: #3077c6;
  --grey: #bfbfbf;
  --dark-blue: #10367c;
  --dark-white: #f3f3f4;
  --light-white: #eaf0f9;
  --dark-yellow: #f5bd41;
  --light-grey: #cecece;
  --light-blue: #7fb3f9;
}
input {
  outline: none;
  border: none;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.img-style {
  aspect-ratio: 1/1;
  width: 100%;
  height: 295px;
}
.item__text {
  width: 100%;
  line-height: 28px;
  text-align: start;
  color: var(--blue);
  margin: 24px 0;
}
.item__text:hover {
  color: var(--light-blue);
}
.hostel-location {
  color: var(--grey);
  margin: 0;
}



