* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0;
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.woff) format('woff'), local('Roboto'),
    url(../fonts/Roboto-Medium.woff2) format('woff2');
}
:root {
  --line-width: 100px;
  --arrow-width: 12px;
  --arrow-height: 12px;
  --circle-width: 40px;
  --circle-height: 40px;
  --white: #fff;
  --black: #383838;
  --blue: #3077c6;
  --grey: #bfbfbf;
  --dark-blue: #10367c;
  --dark-white: #f3f3f4;
  --light-white: #eaf0f9;
  --dark-yellow: #f5bd41;
  --light-grey: #cecece;
  --light-blue: #7fb3f9;
}

.container {
  color: var(--black);
  margin: 0 auto;
  padding: 120px 104px;
  max-width: 1440px;
  position: relative;
  font-size: 24px;
  font-weight: 400;
}
input {
  outline: none;
  border: none;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}



.homes__item,
.dest__item {
  height: 432px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.img-style {
  height: 295px;
}
.circle-slide-dop,
.circle-slide {
  display: none;
}
.item-hostel,
.item-review,
.item-link {
  position: relative;
}
.item__text {
  width: 100%;
  line-height: 28px;
  text-align: start;
  color: var(--blue);
  margin: 24px 0;
}
.item__text:hover {
  color: var(--light-blue);
}
.hostel-location {
  color: var(--grey);
  margin: 0;
}
.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--dark-white);
  right: -12px;
  z-index: 1;
  top: calc(50% - var(--circle-height) / 2);
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}
.arrows {
  width: var(--arrow-width);
  height: var(--arrow-height);
  border: 2px solid var(--black);
  border-left: 0;
  border-top: 0;
  position: absolute;
  transform: rotate(-50deg) skewX(-15deg);
  top: calc(50% - var(--arrow-width) / 2);
  left: calc(50% - var(--arrow-height) / 2);
}

/* destinations */
.dest__item {
  height: 296px;
}
.dest__list {
  position: relative;
  padding-bottom: 30px;
  margin-top: 64px;
  gap: 16px;
}
.but__dest {
  position: absolute;
  width: 128px;
  height: 48px;
  top: calc(50% - 48px / 2);
  left: calc(50% - 128px / 2);
  background: var(--white);
  border: 1px solid var(--blue);
  border-radius: 8px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--blue);
  visibility: hidden;
}
.dest__item:hover .but__dest {
  visibility: visible;
  animation: but 0.5s ease-in 0.3s both;
}
@keyframes but {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dest__item:hover img {
  filter: brightness(80%);
  transition: 0.5s ease-in 0.3s;
}

/* destinations--additional */
.block__regions-add,
.block__cities-add,
.block__places-add {
  padding-bottom: 60px;
}
.dest__item:hover img {
  filter: brightness(80%);
  transition: 0.5s ease-in 0.3s;
}
.circle-dest {
  position: absolute;
  top: -72px;
  right: calc(50% - var(--circle-width) / 2);
  transform: rotate(90deg);
  box-shadow: 4px 0 4px rgb(0 0 0 / 25%);
}
.circle-dest-add {
  display: none;
  transform: rotate(-90deg);
  top: 90%;
  right: calc(50% - var(--circle-width) / 2);
  position: absolute;
  box-shadow: -4px 0 4px rgb(0 0 0 / 25%);
}
.wrapper {
  position: relative;
  margin-top: 152px;
}
.wrapper:hover .dest__list-add {
  display: flex;
  gap: 16px;
  margin-top: -60px;
  padding-bottom: 104px;
}
.wrapper:hover .circle-dest {
  display: none;
}
.wrapper:hover .circle-dest-add {
  display: block;
}
.dest__list-add {
  display: none;
  margin-top: 64px;
}
.block__regions,
.block__cities,
.block__places {
  display: none;
}

/* sign -up */
.sign-up__block {
  background: var(--light-white);
  padding: 0;
  position: relative;
}
.icon-sign-up {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: var(--white);
  display: inline-block;
  margin: 56px 24px;
  position: relative;
}
.sign-up__text {
  top: 52px;
  left: 134px;
  position: absolute;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  color: var(--black);
}
.sign-up__button {
  width: 128px;
  height: 48px;
  background: var(--white);
  border: 1px solid var(--blue);
  border-radius: 8px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--blue);
  position: absolute;
  bottom: 52px;
  left: 134px;
}
.sign-up__button:hover {
  background: var(--blue);
  color: var(--white);
  transition: 0.5s ease 0.1s;
}
.sign-up-person {
  width: 32px;
  height: 44px;
  position: absolute;
  left: 18px;
  top: 21px;
}
.sign-up-plus {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 48px;
  top: 46px;
}
.sign-up-cross {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
}
.sign-up__link,
.sign-up__block-logo {
  display: none;
}

/* footer */
.footer {
  background-color: var(--dark-blue);
}
.icon-trip_house_mobile {
  width: 96px;
  height: 20px;
  display: none;
}
.footer__list {
  display: flex;
  gap: 110px;
}
.footer__links {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

/* footer__text-setting */
.footer__text {
  color: var(--white);
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
}
.footer__text:hover {
  color: var(--blue);
}
.footer__text-title {
  font-weight: 500;
}
.footer__text-bottom {
  font-size: 14px;
  margin-top: 64px;
}
