/* swiper-slider */
.swiper-container {
  overflow: hidden;
  position: relative;
}
.swiper-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.swiper-slide {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  width: fit-content;
}
.swiper-pagination {
  visibility: hidden;
}
.swiper-button-next {
  border-radius: 50%;
  top: 5em;
  right: 4px;
  background: var(--dark-white);
  color: var(--black);
  filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
  position: absolute;
  z-index: 10;
}
.swiper-button-next-dest {
  top: 7em;
}
.swiper-button-next::after {
  font-size: 18px;
  font-weight: bold;
}
.swiper-button-next:active {
  background: #e5e5e5;
}

@media (max-width: 768px) {
  .swiper-container {
    width: 528px;
    max-width: 100%;
    margin: 0 auto;
  }
  .swiper-pagination {
    visibility: visible;
  }
  .swiper-button-next-dest {
    display: none;
  }
}

@media (max-width: 480px) {
  .swiper-button-next {
    top: 4em;
  }
}
