/* swiper-slider */
.swiper-container {
  overflow: hidden;
  position: relative;
  @media (max-width: 768px) {
    width: 528px;
    max-width: 100%;
    margin: 0 auto;
  }
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  justify-content: space-between;
  margin: 0 auto;
}
.swiper-slide {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}
.swiper-button-next {
  border-radius: 50%;
  top: 25%;
  right: 4px;
  width: 40px;
  height: 40px;
  background: var(--dark-white);
  color: var(--black);
  filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
  position: absolute;
  z-index: 10;
  @media (max-width: 480px) {
    top: 4em;
  }
}
.swiper .swiper-button-prev {
  display: none;
}
.swiper .swiper-button-next {
  top: 7em;
  @media (max-width: 768px) {
    display: none;
  }
}
.swiper-button-next::after {
  font-size: 18px;
  font-weight: bold;
}
.swiper-button-next:active {
  background: #e5e5e5;
}
.swiper-pagination {
  visibility: hidden;
  @media (max-width: 768px) {
    visibility: visible;
  }
}
