
.swiper-button-next {
  border-radius: 50%;
  background: var(--dark-white);
  color: var(--black);
  filter: drop-shadow(0 4px 4px rgb(0 0 0 / 25%));
  position: absolute;
  z-index: 10;
}
.swiper-button-next::after {
  font-size: 18px;
  font-weight: bold;
}
.swiper-button-next:active {
  background: #e5e5e5;
}

@media (max-width: 1024px) {
  .circle {
    width: 36px;
    height: 36px;
  }
}

@media (max-width: 480px) {
  .swiper-button-next {
    top: 4em;
  }
  .circle {
    width: 32px;
    height: 32px;
  }
}
