.page {
  background-color: var(--dark-blue);
  min-height: 100vh;
  @media (max-width: 1024px) {
    min-height: 85vh;
  }
  @media (max-width: 768px) {
    min-height: 70vh;
  }
}
.img {
  background-position: center;
  object-fit: cover;
  aspect-ratio: 1/1;
  max-width: 400px;
  min-width: 400px;
  width: 100%;
  @media (max-width: 1024px) {
    max-width: 300px;
    min-width: 300px;
  }
  @media (max-width: 480px) {
    max-width: 250px;
    min-width: 250px;
  }
}
.content {
  margin-top: 100px;
}
.text {
  color: var(--white);
  margin-top: 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
