.main {
  background-image: url('../../images/castelmezzano.png');
  background-size: cover;
  background-position: 0 25%;
  min-height: 100vh;
  position: relative;

  @media (max-width: 768px) {
    height: 100%;
  }
}

.main-wrap {
  padding-top: 52px;

  @media (max-width: 480px) {
    padding-top: 0;
  }
}
