.main {
  background-image: url('../../../public/images/castelmezzano.png');
  background-size: cover;
  background-position: 0 25%;
  min-height: 100vh;
  position: relative;

  @media (max-width: 768px) {
    height: 100%;
  }
}
