.homes__item {
  height: 432px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  @media (max-width: 480px) {
    justify-content: center;
    align-items: center;
  }
}
