/*filter*/
.page__search-info {
  width: 360px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--white);
  color: var(--black);
  border-radius: 8px;
  border: 3px solid var(--dark-white);
  position: relative;
  cursor: pointer;
  @media (max-width: 1024px) {
    grid-column: 1 / span 6;
    grid-row: 2;
    border-radius: 4px;
    border: 0;
    width: auto;
  }
  @media (max-width: 768px) {
    grid-column: 1 / span 8;
    grid-row: 3;
    font-size: 12px;
    line-height: 14px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
  }
  @media (max-width: 480px) {
    grid-template-columns: repeat(6, 1fr);
  }
  .page__search-info:focus {
    outline-color: var(--dark-yellow);
  }
}

.info-column {
  display: flex;
  align-items: baseline;
  flex-direction: row-reverse;
  gap: 4px;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: start;
    padding-left: 8px;
  }
}
.info-num {
  width: 24px;
  height: 20px;
  border: 1px solid var(--grey);
  border-radius: 4px;
}
.info-num:valid {
  border: 0;
}
.column-adults {
  @media (max-width: 768px) {
    grid-column: 1 / span 3;
    border-right: 1px solid var(--grey);
  }
  @media (max-width: 480px) {
    grid-column: 1 / span 2;
  }
}
.column-children {
  @media (max-width: 768px) {
    grid-column: 4 / span 3;
    border-right: 1px solid var(--grey);
    @media (max-width: 480px) {
      grid-column: 3 / span 2;
    }
  }
}
.column-room {
  @media (max-width: 768px) {
    grid-column: 7 / span 3;
  }
  @media (max-width: 480px) {
    grid-column: 5 / span 2;
  }
}
