.offers__title {
  position: relative;
  margin-bottom: 0;
}
.offers__title::after {
  content: '';
  width: var(--line-width);
  height: 4px;
  background-color: var(--dark-yellow);
  position: absolute;
  top: 72px;
  left: calc(50% - var(--line-width) / 2);
  @media (max-width: 1024px) {
    display: none;
  }
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 104px;
  min-width: 0;
}
.offers__list {
  justify-content: space-between;
  @media (max-width: 1024px) {
    gap: 10px;
    flex-wrap: wrap;
  }
  @media (max-width: 480px) {
    gap: 36px;
    margin-top: 0;
  }
}
.offers__item {
  height: 176px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  @media (max-width: 1024px) {
    height: 152px;
  }
  @media (max-width: 768px) {
    height: 130px;
  }
  @media (max-width: 480px) {
    height: 104px;
  }
}
.offers__description {
  display: block;
  justify-content: space-between;
  @media (max-width: 1200px) {
    font-size: 22px;
  }
  @media (max-width: 1024px) {
    font-size: 18px;
  }
  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 18px;
  }
  @media (max-width: 480px) {
    font-size: 15px;
  }
}

/* offers__icon */
.offers__icon {
  @media (max-width: 1024px) {
    width: 64px;
  }
  @media (max-width: 768px) {
    width: 60px;
  }
  @media (max-width: 480px) {
    width: 56px;
  }
}

.icon-support {
  width: 76px;
  height: 92px;
}
.icon-communicate {
  width: 84px;
  height: 84px;
}
.icon-devices {
  width: 100px;
  height: 68px;
}
.icon-like {
  width: 92px;
  height: 84px;
}
